{% extends "base.html.twig" %}

{% block title %}Вход{% endblock %}

{% block container %}
    <div id="login">
        <h1 class="h3 mb-3 font-weight-normal text-center mt-5">
            Вход
        </h1>

        {{ form_start(form) }}
        {{ form_row(form._username) }}
        {{ form_row(form._password) }}

        {% if error %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
        {% endif %}


        <div class="d-flex justify-content-between align-items-start">
            <a class="d-block btn btn-success" href="{{ path("register") }}">
                Создать аккаунт
            </a>

            {{ form_row(form.submit) }}
        </div>

        {{ form_row(form._token) }}

        {{ form_end(form) }}

    </div>
{% endblock %}