{% extends 'base.html.twig' %}

{% block title %}Вход{% endblock %}

{% block container %}
<div id="login">
    <h1 class="h3 mb-3 font-weight-normal" style="text-align: center; margin-top: 3rem;">Вход</h1>

    {{ form_start(form) }}
        {{ form_row(form._username) }}
        {{ form_row(form._password) }}

        {% if error %}
            <div class='formmsg'>
                <p class='error'>{{ error }}</p>
            </div>
        {% endif %}

        {{ form_row(form.submit) }}

        {{ form_row(form._token) }}

    {{ form_end(form) }}

    <a class="btn btn-primary btn-block btn-user-registration" href='{{ path('register') }}'>
        Создать аккаунт
    </a>
</div>
{% endblock %}